body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

footer {
    margin: 20px;
    background-color:#f5f5f5  ;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    border: 5px solid #007bff ; /* Borde sólido de 2px de ancho, color negro */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Sombra ligera */
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.social-media {
    margin-top: 10px;
}

.social-media a {
    text-decoration: none;
    margin: 0 10px;
    color: #fff;
}

.social-media a:hover {
    color: #007bff; /* Cambia el color al pasar el mouse sobre los íconos */
}

.social-media img {
    width: 30px; /* Ajusta el tamaño de los íconos según tus necesidades */
}
